.logo{
  height: 90px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: #002140;
  img{
    height: 35px;
    display: block;
  }
  h1{
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 0 10px;
  }
}